*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;
}
body {
    min-height: 100vh;
    background-image: url('../Images/background.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 75%; 
    overflow: hidden;
}
.Wrapper{
    box-sizing: border-box;
    height: 100vh;
    width: max(30% , 500px);
    display: flex;
    flex-direction: column;
    border-radius: 0 25px 25px 0;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
h6 {
    bottom: -250px;
    margin-top: 20px;
    text-align: center;
    margin-top: 20px;
    color: rgb(85, 11, 85);
}
h2 {
    margin-bottom: 20px; 
    position: relative;
    top: -50px; 
    font-size: 24px; 
    text-align: center;
    color: rgb(85, 11, 85);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1{
    text-transform: uppercase;
}
form{
    width: min(400px,100%);
    margin-top: 25px;
    margin-bottom: 20px;
    align-items: center;  
    gap: 10px;
}
form > div{
    width: 100%;
    justify-content: center;
}
form label{
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    background-color: rgb(145, 80, 206);
    border-radius: 10px 0 0 10px;
    padding: 10px;
}
form input{
    box-sizing: border-box;
    height: 40px;
    padding: 0.9em;
    border-radius: 0 10px 10px 0;
    border: 2px solid rgb(226, 221, 230);
    background-color: rgb(226, 221, 230);
    margin-top: 5px;
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}
form input:hover{
    background-color: rgb(211, 200, 220);
    border-color: rgb(152, 129, 213);
}
form input:focus{
    outline: none; 
}
div:has(input:focus) > label{
    background-color: rgb(52, 43, 62);
}
form label svg {
    top: 50%;
    left: 50%;
    transform: translate(10%, 25%); /*helps allign things freely*/
}
form button{
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    font: inherit;
    font-weight: 250;
    background-color: rgb(177, 139, 212);
    transform: 150ms ease;
    color: aliceblue;
    transition: background-color 0.5s ease, color 0.5s ease;
}
form button:hover{
    background-color: rgb(52, 43, 62);
    color: rgb(184, 175, 192); /*color of the text*/
    cursor: pointer;
}
p{
    margin-top: 30px;
    font-size: 15px;
}
form div.incorrect label{
    background-color: tomato;
}
form div.incorrect input{
    border-color: tomato;
}
#error-message{
    color: darkred;
}


